@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Light Theme */
    --background: 250, 250, 250;
    --background-secondary: 240, 240, 240;
    --background-primary: 245, 245, 245;
    --foreground: 24, 24, 27;
    --border: 220, 220, 220;
    --accent: 230, 230, 230;
    --muted: 113, 113, 122;
    --destructive: 229, 57, 53;
    --positive: 34, 197, 94;
  }

  .dark {
    /* Dark Theme */
    --background: 17, 17, 19;
    --background-secondary: 39, 39, 42;
    --background-primary: 24, 24, 27;
    --foreground: 245, 245, 245;
    --border: 80, 80, 80;
    --accent: 49, 49, 52;
    --muted: 161, 161, 170;
    --destructive: 229, 57, 53;
    --positive: 34, 197, 94;
  }

  body {
    @apply bg-background text-foreground;
  }

  * {
    @apply border-border;
  }
}
