@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-border-default: 255, 255, 255, 0.2;
    --scrollbar-width: 0.1rem;
  }

  body {
    @apply bg-background/80 text-secondary;
  }
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
  background-color: #A1A1AA;
  border-radius: 9999px;
  border: none;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #71717A;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}
